<template name="createRecette">
  <div class="row">
      <div class="col-lg-11">
          <h1 class="page-header">{{titreNewRecette}}</h1>

          <!-- formulaire -->
          <form id="new-recette">
            <br>
            <label>Titre</label>
            <input class="form-control" id="titre" name="titre" placeholder="Donnez ici le titre de votre nouvelle recette !" style="width:700px;">
            <span id="error-titre" class="color-red"></span>
            <br><br>
            <label>Description</label>
            <textarea class="form-control" id="description" name="description" placeholder="Décriver ici la recette de façon succinte." rows="5" style="width:700px;"></textarea>
            <span id="error-description" class="color-red"></span>
            <hr>
            <br>
            <label>Ingrédients</label>
			         <br>
            <span id="button-add-ingredient" style="cursor:pointer;"><img src="/img/add.png" style="width:2%;height:2%;padding:5px;" />Ajouter un ingrédient</span>
            <br><br>
            <table>
              <tbody id="tbody-ingredients">
                <tr>
                  <td><input class="form-control" name="ingredient" placeholder="nouvel ingrédient" style="width:700px;"></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <hr>
            <br>
            <label>Etapes</label>
			         <br>
            <span id="button-add-etape" style="cursor:pointer;"><img src="/img/add.png" style="width:2%;height:2%;padding:5px;" />Ajouter une étape</span>
            <br><br>
            <table>
              <tbody id="tbody-etapes">
                <tr>
                  <td><input class="form-control" name="etape" placeholder="Nouvelle étape" style="width:700px;"></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <hr>
            <br>
            <label>Ajouter une photo :</label>
			         <br>
               <br>
            <div id="drop_zone">Déplacez des images ici</div>
            <output id="list"></output>
            <br><br>
            <button type="submit" class="btn btn-success btn-lg sharp">Enregistrer</button>
          </form>

      </div>
      <!-- /.col-lg -->
  </div>
</template>
