#input-titre {
    box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: default;
	display: inline-block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 22px;
	font-weight: bold;
	padding: 0px;
	padding-left: 7px;
	margin-bottom: 5px;
	max-width: 100%;
}
