<template name="displayRecette">
  <div class="row">
      <div class="col-lg-11">

<h1 class="page-header">
  <label id="label-titre">{{titre}}</label>
  <button id="button-edit" type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editer
  </button>
</h1>
  <br>
  <img src="{{imageUrl}}" />
  <br><br>
<label id="label-description">{{description}}</label>
<br><br>

      </div>
      <!-- /.col-lg -->
  </div>
  <div>
    <button type="submit" id="button-delete" class="btn btn-danger btn-lg sharp">Supprimer</button>
  </div>
</template>
