<template name="editRecette">
  <div class="row">
      <div class="col-lg-11">

<h1 class="page-header">
<input class="form-control" id="titre" name="titre" value="{{titre}}">
  <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editer
  </button>
</h1>
  <br>
  <img src="{{imageUrl}}" />
  <br><br>
  <textarea class="form-control" id="description" name="description" value="{{description}}"></textarea>
<br><br>

      </div>
      <!-- /.col-lg -->
  </div>
  <div>
    <button type="submit" class="btn btn-danger btn-lg sharp delete">Supprimer</button>
  </div>
</template>
